.ni-article-body {
  background: #fff;
}
.ni-article-body-container {
  max-width: 48rem;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;

  /* text */
  font-family: Lora, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: hsla(0,0%,0%,0.8);
}

.ni-article-body hr {
  border: none;
  border-top: 1px solid #eee;
  background: transparent;
  height: 0;
  margin: 0;
  padding: 0;
}

.ni-article-body a {
  color: hsla(210,100%,45%);

  /* break */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}
.ni-article-body a:hover {
  text-decoration: underline;
}

.ni-article-body strong {
  font-weight: bold;
}
.ni-article-body em {
  font-style: italic;
}
.ni-article-body code {
  font-family: Consolas, 'Deja Vu Sans Mono', 'Andale Sans Mono', monospace;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
  background: #eee;
  font-weight: bold;
  padding: 0 0.25rem;

  /* break */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}
.ni-article-body pre {
  margin-left: -1rem;
  margin-right: -1rem;
  overflow-x: scroll;
  padding: 0.375rem 0.5rem;
  line-height: 1.125;
}
.ni-article-body pre + figcaption {
  font-size: 0.875rem;
  margin-top: -1.5rem;
  background: #eee;
  border: 1px solid #eee;
  border-top: none;
  padding: 0.5rem;
  color: #555;
  margin-bottom: 1.5rem;
}
.ni-article-body pre {
  background: hsl(220,13%,18%);
  color: hsl(220, 14%, 71%);
}
.ni-article-body pre code {
  margin-bottom: 0;
  font-weight: normal;
  background: hsl(220,13%,18%);
  color: hsl(220, 14%, 71%);
  padding: 0;
}
.ni-article-body p,
.ni-article-body hr,
.ni-article-body ul,
.ni-article-body ol,
.ni-article-body table,
.ni-article-body pre,
.ni-article-body figcaption,
.ni-article-body blockquote,
.ni-article-body img,
.ni-article-body .btn {
  margin-bottom: 1.5em;
}
.ni-article-body p:empty {
  display: none;
}
.ni-article-body p img {
  margin-bottom: 0;
}
.ni-article-body .youtube {
  display: block;
  margin-bottom: 1.5em;
}
.ni-article-body p code:before,
.ni-article-body p code:after {
  letter-spacing: -0.375em;
  content: "\00a0";
}
.ni-article-body .left,
.ni-article-body .right {
  margin-bottom: 2.5em !important;
}
.ni-article-body .left {
  float: left !important;
  padding-right: 2.5em !important;
}
.ni-article-body .right {
  float: right !important;
  padding-left: 2.5em !important;
}
.ni-article-body img {
  max-width: 100%;
}
.ni-article-body h1,
.ni-article-body h2,
.ni-article-body h3,
.ni-article-body h4,
.ni-article-body h5,
.ni-article-body h6 {
  font-family: system, -apple-system, BlinkMacSystemFont, "Roboto", "Seogue UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  position: relative;
  line-height: 1.05;
  margin: 1.5rem 0 0.75rem;
}

.ni-article-body h1:first-child,
.ni-article-body h2:first-child,
.ni-article-body h3:first-child,
.ni-article-body h4:first-child,
.ni-article-body h5:first-child,
.ni-article-body h6:first-child {
  margin-top: 0;
}
.ni-article-body h1,
.ni-article-body h3,
.ni-article-body h5 {
  color: #000;
  font-weight: 600;
}
.ni-article-body h2,
.ni-article-body h4,
.ni-article-body h6 {
  color: #888;
  font-weight: bold;
}
.ni-article-body h1 {
  font-size: 2rem;
  margin-top: 1.5rem;
}
.ni-article-body h2 {
  font-size: 1.75rem;
}
.ni-article-body h3 {
  font-size: 1.53125rem;
}
.ni-article-body h4 {
  font-size: 1.33984375rem;
}
.ni-article-body h5 {
  font-size: 1.1723632813rem;
}
.ni-article-body h6 {
  font-size: 1rem;
}

.ni-article-body ul,
.ni-article-body ol {
  padding-left: 1.5em;
}
.ni-article-body ul ul,
.ni-article-body ul ol,
.ni-article-body ol ul,
.ni-article-body ol ol {
  margin-bottom: 0;
  padding-top: 0.25em;
}
.ni-article-body ul li {
  list-style: square;
  margin-bottom: 0.25em;
}
.ni-article-body ol li {
  list-style: decimal;
}
.ni-article-body li p + ul,
.ni-article-body li p + ol {
  margin-top: -1.5em;
}
.ni-article-body li p + ul:last-child,
.ni-article-body li p + ol:last-child {
  margin-bottom: 1.5em;
}
.ni-article-body table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  width: 100%;
}
.ni-article-body table th {
  font-weight: 600;
  background: #e5f3ff;
  color: #004480;
}
.ni-article-body table td,
.ni-article-body table th {
  border: 1px solid #e0e0e0;
  padding: 0.25em 0.5em;
}
.ni-article-body blockquote {
  padding: 0.75rem 1rem;
  background: hsl(210,50%,90);
  position: relative;
  color: hsl(210,75%,33%);
}
.ni-article-body blockquote p,
.ni-article-body blockquote ul,
.ni-article-body blockquote ol {
  margin-bottom: 0.75rem;
}
.ni-article-body blockquote p:last-child,
.ni-article-body blockquote ul:last-child,
.ni-article-body blockquote ol:last-child {
  margin-bottom: 0;
}
.ni-article-body blockquote + h2 {
  margin-top: 1.5rem;
}

@media screen and (min-width: 360px) {
  .ni-article-body-container {
    padding: 1.125rem;
  }
  .ni-article-body pre {
    margin-left: -1.125rem;
    margin-right: -1.125rem;
  }
}

@media screen and (min-width: 414px) {
  .ni-article-body-container {
    padding: 1.25rem;
  }
  .ni-article-body pre {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
  }
}
@media screen and (min-width: 540px) {
  .ni-article-body-container {
    padding: 1.5rem;
  }
  .ni-article-body pre {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .ni-article-body-container {
    /* font-size: 1.125rem; */
    padding: 3rem 3rem 1.5rem;
  }

  .ni-article-body h1,
  .ni-article-body h2,
  .ni-article-body h3,
  .ni-article-body h4,
  .ni-article-body h5,
  .ni-article-body h6 {
    margin: 3rem 0 1.5rem;
  }

  .ni-article-body pre {
    margin-left: 0;
    margin-right: 0;
  }

  .ni-article-body iframe.iframe-video {
    max-width: 48rem;
    max-height: 27rem;
  }
}
